---
import DocsLayout from '~/layouts/docs.astro';
import Code from '~/components/code.astro';
---

<DocsLayout
  title='Typography'
  subtitle='All typographic elements are responsive and scale gracefully across devices and viewports.'>
  <div role='document'>
    <section>
      <div class='overflow-auto'>
        <table class='striped'>
          <caption>Responsive font sizes</caption>
          <thead>
            <tr>
              <th>Breakpoint</th>
              <th
                ><span
                  data-tooltip='Extra small < 576px'
                  data-placement='bottom'>xs</span
                ></th
              ><th
                ><span data-tooltip='Small ≥ 576px' data-placement='bottom'
                  >sm</span
                ></th
              ><th
                ><span data-tooltip='Medium ≥ 768px' data-placement='bottom'
                  >md</span
                ></th
              ><th
                ><span data-tooltip='Large ≥ 1024px' data-placement='bottom'
                  >lg</span
                ></th
              ><th
                ><span
                  data-tooltip='Extra large ≥ 1280px'
                  data-placement='bottom'>xl</span
                ></th
              ><th
                ><span
                  data-tooltip='Extra extra large ≥ 1536px'
                  data-placement='bottom'>xxl</span
                ></th
              ></tr
            ></thead
          ><tbody
            ><tr
              ><th>Base</th><td
                ><span data-tooltip='100% * 16px' data-placement='bottom'
                  >16<small>px</small></span
                ></td
              ><td
                ><span data-tooltip='106.25% * 16px' data-placement='bottom'
                  >17<small>px</small></span
                ></td
              ><td
                ><span data-tooltip='112.5% * 16px' data-placement='bottom'
                  >18<small>px</small></span
                ></td
              ><td
                ><span data-tooltip='118.75% * 16px' data-placement='bottom'
                  >19<small>px</small></span
                ></td
              ><td
                ><span data-tooltip='125% * 16px' data-placement='bottom'
                  >20<small>px</small></span
                ></td
              ><td
                ><span data-tooltip='131.25% * 16px' data-placement='bottom'
                  >21<small>px</small></span
                ></td
              ></tr
            ><tr
              ><th>
                <Code lang='html' code=`<h1>` inline />
              </th><td
                ><span data-tooltip='100% * 2rem * 16px' data-placement='bottom'
                  >32<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='106.25% * 2rem * 16px'
                  data-placement='bottom'>34<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='112.5% * 2rem * 16px'
                  data-placement='bottom'>36<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='118.75% * 2rem * 16px'
                  data-placement='bottom'>38<small>px</small></span
                ></td
              ><td
                ><span data-tooltip='125% * 2rem * 16px' data-placement='bottom'
                  >40<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='131.25% * 2rem * 16px'
                  data-placement='bottom'>42<small>px</small></span
                ></td
              ></tr
            ><tr
              ><th>
                <Code lang='html' code=`<h2>` inline />
                <!-- <code class='language-html'
                  ><span class='token tag punctuation'>&lt;</span><span
                    class='token tag'>h2</span
                  ><span class='token tag punctuation'>&gt;</span></code
                > -->
              </th><td
                ><span
                  data-tooltip='100% * 1.75rem * 16px'
                  data-placement='bottom'>28<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='106.25% * 1.75rem * 16px'
                  data-placement='bottom'>29.75<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='112.5% * 1.75rem * 16px'
                  data-placement='bottom'>31.5<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='118.75% * 1.75rem * 16px'
                  data-placement='bottom'>33.25<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='125% * 1.75rem * 16px'
                  data-placement='bottom'>35<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='131.25% * 1.75rem * 16px'
                  data-placement='bottom'>36.75<small>px</small></span
                ></td
              ></tr
            ><tr
              ><th
                ><code class='language-html'
                  ><span class='token tag punctuation'>&lt;</span><span
                    class='token tag'>h3</span
                  ><span class='token tag punctuation'>&gt;</span></code
                ></th
              ><td
                ><span
                  data-tooltip='100% * 1.5rem * 16px'
                  data-placement='bottom'>24<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='106.25% * 1.5rem * 16px'
                  data-placement='bottom'>25.5<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='112.5% * 1.5rem * 16px'
                  data-placement='bottom'>27<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='118.75% * 1.5rem * 16px'
                  data-placement='bottom'>28.5<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='125% * 1.5rem * 16px'
                  data-placement='bottom'>30<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='131.25% * 1.5rem * 16px'
                  data-placement='bottom'>31.5<small>px</small></span
                ></td
              ></tr
            ><tr
              ><th
                ><code class='language-html'
                  ><span class='token tag punctuation'>&lt;</span><span
                    class='token tag'>h4</span
                  ><span class='token tag punctuation'>&gt;</span></code
                ></th
              ><td
                ><span
                  data-tooltip='100% * 1.25rem * 16px'
                  data-placement='bottom'>20<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='106.25% * 1.25rem * 16px'
                  data-placement='bottom'>21.25<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='112.5% * 1.25rem * 16px'
                  data-placement='bottom'>22.5<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='118.75% * 1.25rem * 16px'
                  data-placement='bottom'>23.75<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='125% * 1.25rem * 16px'
                  data-placement='bottom'>25<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='131.25% * 1.25rem * 16px'
                  data-placement='bottom'>26.25<small>px</small></span
                ></td
              ></tr
            ><tr
              ><th
                ><code class='language-html'
                  ><span class='token tag punctuation'>&lt;</span><span
                    class='token tag'>h5</span
                  ><span class='token tag punctuation'>&gt;</span></code
                ></th
              ><td
                ><span
                  data-tooltip='100% * 1.125rem * 16px'
                  data-placement='bottom'>18<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='106.25% * 1.125rem * 16px'
                  data-placement='bottom'>19.125<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='112.5% * 1.125rem * 16px'
                  data-placement='bottom'>20.25<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='118.75% * 1.125rem * 16px'
                  data-placement='bottom'>21.375<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='125% * 1.125rem * 16px'
                  data-placement='bottom'>22.5<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='131.25% * 1.125rem * 16px'
                  data-placement='bottom'>23.625<small>px</small></span
                ></td
              ></tr
            ><tr
              ><th
                ><code class='language-html'
                  ><span class='token tag punctuation'>&lt;</span><span
                    class='token tag'>h6</span
                  ><span class='token tag punctuation'>&gt;</span></code
                ></th
              ><td
                ><span data-tooltip='100% * 1rem * 16px' data-placement='bottom'
                  >16<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='106.25% * 1rem * 16px'
                  data-placement='bottom'>17<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='112.5% * 1rem * 16px'
                  data-placement='bottom'>18<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='118.75% * 1rem * 16px'
                  data-placement='bottom'>19<small>px</small></span
                ></td
              ><td
                ><span data-tooltip='125% * 1rem * 16px' data-placement='bottom'
                  >20<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='131.25% * 1rem * 16px'
                  data-placement='bottom'>21<small>px</small></span
                ></td
              ></tr
            ><tr
              ><th
                ><code class='language-html'
                  ><span class='token tag punctuation'>&lt;</span><span
                    class='token tag'>small</span
                  ><span class='token tag punctuation'>&gt;</span></code
                ></th
              ><td
                ><span
                  data-tooltip='100% * 0.875em * 16px'
                  data-placement='bottom'>14<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='106.25% * 0.875em * 16px'
                  data-placement='bottom'>14.875<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='112.5% * 0.875em * 16px'
                  data-placement='bottom'>15.75<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='118.75% * 0.875em * 16px'
                  data-placement='bottom'>16.625<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='125% * 0.875em * 16px'
                  data-placement='bottom'>17.5<small>px</small></span
                ></td
              ><td
                ><span
                  data-tooltip='131.25% * 0.875em * 16px'
                  data-placement='bottom'>18.375<small>px</small></span
                ></td
              ></tr
            ></tbody
          >
        </table>
      </div>

      <p>
        <label
          ><input
            type='checkbox'
            role='switch'
            name='toggle-font-size-in-rem'
          /><span>Display in rem</span></label
        >
      </p>

      <p>
        To ensure that the user's default font size is followed, the base font
        size is defined as a percentage that grows with the user's screen size,
        while HTML elements are defined in <code>rem</code>.
      </p><p>
        Since <code>rem</code> is a multiplier of the HTML document font size, all
        HTML element's font sizes grow proportionally with the size of the user's
        screen.
      </p>
    </section><section>
      <h2>
        Headings
        <a href='#headings' id='headings' class='secondary' tabindex='-1'># </a>
      </h2>

      <article aria-label='Headings example' class='component'>
        <h1>Heading 1</h1><h2>Heading 2</h2><h3>Heading 3</h3><h4>
          Heading 4
        </h4><h5>Heading 5</h5><h6>Heading 6</h6><footer
          class='code'
          data-theme='dark'>
          <a
            class='copy-to-clipboard'
            tabindex='-1'
            aria-label='Copy code'
            data-tooltip='Copy to clipboard'
            data-placement='left'
            href='/docs/typography'
            ><svg
              xmlns='http://www.w3.org/2000/svg'
              width='24'
              height='24'
              viewBox='0 0 24 24'
              stroke-width='2'
              stroke='currentColor'
              fill='none'
              stroke-linecap='round'
              stroke-linejoin='round'
              class='clipboard'
              ><path
                d='M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z'
              ></path><path
                d='M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2'
              ></path></svg
            ></a
          ><pre
            class='prismjs'><code class="language-html"><span class="token tag punctuation">&lt;</span><span class="token tag">h1</span><span class="token tag punctuation">&gt;</span><span class="">Heading 1</span><span class="token tag punctuation">&lt;/</span><span class="token tag">h1</span><span class="token tag punctuation">&gt;</span><span class="">
</span><span class="" /><span class="token tag punctuation">&lt;</span><span class="token tag">h2</span><span class="token tag punctuation">&gt;</span><span class="">Heading 2</span><span class="token tag punctuation">&lt;/</span><span class="token tag">h2</span><span class="token tag punctuation">&gt;</span><span class="">
</span><span class="" /><span class="token tag punctuation">&lt;</span><span class="token tag">h3</span><span class="token tag punctuation">&gt;</span><span class="">Heading 3</span><span class="token tag punctuation">&lt;/</span><span class="token tag">h3</span><span class="token tag punctuation">&gt;</span><span class="">
</span><span class="" /><span class="token tag punctuation">&lt;</span><span class="token tag">h4</span><span class="token tag punctuation">&gt;</span><span class="">Heading 4</span><span class="token tag punctuation">&lt;/</span><span class="token tag">h4</span><span class="token tag punctuation">&gt;</span><span class="">
</span><span class="" /><span class="token tag punctuation">&lt;</span><span class="token tag">h5</span><span class="token tag punctuation">&gt;</span><span class="">Heading 5</span><span class="token tag punctuation">&lt;/</span><span class="token tag">h5</span><span class="token tag punctuation">&gt;</span><span class="">
</span><span class="" /><span class="token tag punctuation">&lt;</span><span class="token tag">h6</span><span class="token tag punctuation">&gt;</span><span class="">Heading 6</span><span class="token tag punctuation">&lt;/</span><span class="token tag">h6</span><span class="token tag punctuation">&gt;</span></code></pre>
        </footer>
      </article>
    </section><section>
      <h2>
        Heading group<a
          href='#heading-group'
          id='heading-group'
          class='secondary'
          tabindex='-1'>#</a
        >
      </h2><p>
        Inside a <code class='language-html'
          ><span class='token tag punctuation'>&lt;</span><span
            class='token tag'>hgroup</span
          ><span class='token tag punctuation'>&gt;</span></code
        >, margins are collapsed, and the <code>:last-child</code> is muted.
      </p><article aria-label='Headings example' class='component'>
        <hgroup>
          <h2>Get inspired with CSS</h2><p>
            How to use CSS to add glam to your Website?
          </p>
        </hgroup><footer class='code' data-theme='dark'>
          <a
            class='copy-to-clipboard'
            tabindex='-1'
            aria-label='Copy code'
            data-tooltip='Copy to clipboard'
            data-placement='left'
            href='/docs/typography'
            ><svg
              xmlns='http://www.w3.org/2000/svg'
              width='24'
              height='24'
              viewBox='0 0 24 24'
              stroke-width='2'
              stroke='currentColor'
              fill='none'
              stroke-linecap='round'
              stroke-linejoin='round'
              class='clipboard'
              ><path
                d='M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z'
              ></path><path
                d='M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2'
              ></path></svg
            ></a
          ><pre
            class='prismjs'><code class="language-html"><span class="token tag punctuation">&lt;</span><span class="token tag">hgroup</span><span class="token tag punctuation">&gt;</span><span class="">
</span><span class="">  </span><span class="token tag punctuation">&lt;</span><span class="token tag">h2</span><span class="token tag punctuation">&gt;</span><span class="">Get inspired with CSS</span><span class="token tag punctuation">&lt;/</span><span class="token tag">h2</span><span class="token tag punctuation">&gt;</span><span class="">
</span><span class="">  </span><span class="token tag punctuation">&lt;</span><span class="token tag">p</span><span class="token tag punctuation">&gt;</span><span class="">How to use CSS to add glam to your Website?</span><span class="token tag punctuation">&lt;/</span><span class="token tag">p</span><span class="token tag punctuation">&gt;</span><span class="">
</span><span class="" /><span class="token tag punctuation">&lt;/</span><span class="token tag">hgroup</span><span class="token tag punctuation">&gt;</span></code></pre>
        </footer>
      </article>
    </section><section>
      <h2>
        Inline text elements<a
          href='#inline-text-elements'
          id='inline-text-elements'
          class='secondary'
          tabindex='-1'>#</a
        >
      </h2><div class='grid'>
        <div>
          <p>
            <abbr title='Abbreviation'>Abbr.</abbr>
            <code class='language-html'
              ><span class='token tag punctuation'>&lt;</span><span
                class='token tag'>abbr</span
              ><span class='token tag punctuation'>&gt;</span></code
            >
          </p><p>
            <strong>Bold</strong>
            <code class='language-html'
              ><span class='token tag punctuation'>&lt;</span><span
                class='token tag'>strong</span
              ><span class='token tag punctuation'>&gt;</span></code
            >
            <code class='language-html'
              ><span class='token tag punctuation'>&lt;</span><span
                class='token tag'>b</span
              ><span class='token tag punctuation'>&gt;</span></code
            >
          </p><p>
            <em>Italic</em>
            <code class='language-html'
              ><span class='token tag punctuation'>&lt;</span><span
                class='token tag'>i</span
              ><span class='token tag punctuation'>&gt;</span></code
            >
            <code class='language-html'
              ><span class='token tag punctuation'>&lt;</span><span
                class='token tag'>em</span
              ><span class='token tag punctuation'>&gt;</span></code
            >
            <code class='language-html'
              ><span class='token tag punctuation'>&lt;</span><span
                class='token tag'>cite</span
              ><span class='token tag punctuation'>&gt;</span></code
            >
          </p><p>
            <del>Deleted</del>
            <code class='language-html'
              ><span class='token tag punctuation'>&lt;</span><span
                class='token tag'>del</span
              ><span class='token tag punctuation'>&gt;</span></code
            >
          </p><p>
            <ins>Inserted</ins>
            <code class='language-html'
              ><span class='token tag punctuation'>&lt;</span><span
                class='token tag'>ins</span
              ><span class='token tag punctuation'>&gt;</span></code
            >
          </p><p>
            <kbd>Ctrl + S</kbd>
            <code class='language-html'
              ><span class='token tag punctuation'>&lt;</span><span
                class='token tag'>kbd</span
              ><span class='token tag punctuation'>&gt;</span></code
            >
          </p>
        </div><div>
          <p>
            <mark>Highlighted</mark>
            <code class='language-html'
              ><span class='token tag punctuation'>&lt;</span><span
                class='token tag'>mark</span
              ><span class='token tag punctuation'>&gt;</span></code
            >
          </p><p>
            <s>Strikethrough</s>
            <code class='language-html'
              ><span class='token tag punctuation'>&lt;</span><span
                class='token tag'>s</span
              ><span class='token tag punctuation'>&gt;</span></code
            >
          </p><p>
            <small>Small </small><code class='language-html'
              ><span class='token tag punctuation'>&lt;</span><span
                class='token tag'>small</span
              ><span class='token tag punctuation'>&gt;</span></code
            >
          </p><p>
            Text <sub>Sub</sub>
            <code class='language-html'
              ><span class='token tag punctuation'>&lt;</span><span
                class='token tag'>sub</span
              ><span class='token tag punctuation'>&gt;</span></code
            >
          </p><p>
            Text <sup>Sup</sup>
            <code class='language-html'
              ><span class='token tag punctuation'>&lt;</span><span
                class='token tag'>sup</span
              ><span class='token tag punctuation'>&gt;</span></code
            >
          </p><p>
            <u>Underline</u>
            <code class='language-html'
              ><span class='token tag punctuation'>&lt;</span><span
                class='token tag'>u</span
              ><span class='token tag punctuation'>&gt;</span></code
            >
          </p>
        </div>
      </div>
    </section><section>
      <h2>
        Blockquote<a
          href='#blockquote'
          id='blockquote'
          class='secondary'
          tabindex='-1'>#</a
        >
      </h2><blockquote>
        “Design is a funny word. Some people think design means how it looks.
        But of course, if you dig deeper, it’s really how it works.”<footer>
          <cite>— Steve Jobs</cite>
        </footer>
      </blockquote><div class='code' data-theme='dark'>
        <a
          class='copy-to-clipboard'
          tabindex='-1'
          aria-label='Copy code'
          data-tooltip='Copy to clipboard'
          data-placement='left'
          href='/docs/typography'
          ><svg
            xmlns='http://www.w3.org/2000/svg'
            width='24'
            height='24'
            viewBox='0 0 24 24'
            stroke-width='2'
            stroke='currentColor'
            fill='none'
            stroke-linecap='round'
            stroke-linejoin='round'
            class='clipboard'
            ><path
              d='M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z'
            ></path><path
              d='M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2'
            ></path></svg
          ></a
        ><pre
          class='prismjs'><code class="language-html"><span class="token tag punctuation">&lt;</span><span class="token tag">blockquote</span><span class="token tag punctuation">&gt;</span><span class="">
</span>  “Design is a funny word. Some people think 
  design means how it looks. But of course, if 
  you dig deeper, it's really how it works.”
<span class="">  </span><span class="token tag punctuation">&lt;</span><span class="token tag">footer</span><span class="token tag punctuation">&gt;</span><span class="">
</span><span class="">    </span><span class="token tag punctuation">&lt;</span><span class="token tag">cite</span><span class="token tag punctuation">&gt;</span><span class="">— Steve Jobs</span><span class="token tag punctuation">&lt;/</span><span class="token tag">cite</span><span class="token tag punctuation">&gt;</span><span class="">
</span><span class="">  </span><span class="token tag punctuation">&lt;/</span><span class="token tag">footer</span><span class="token tag punctuation">&gt;</span><span class="">
</span><span class="" /><span class="token tag punctuation">&lt;/</span><span class="token tag">blockquote</span><span class="token tag punctuation">&gt;</span></code></pre>
      </div>
    </section><section>
      <h2>
        Horizontal rule<a
          href='#horizontal-rule'
          id='horizontal-rule'
          class='secondary'
          tabindex='-1'>#</a
        >
      </h2><p>
        The <code class='language-html'
          ><span class='token tag punctuation'>&lt;</span><span
            class='token tag'>hr</span
          ><span class='token tag punctuation'>&gt;</span></code
        > tag renders a horizontal line.
      </p><article aria-label='Horizontal rule example' class='component'>
        <p>Paragraph before the horizontal line.</p><hr /><p>
          Paragraph after the horizontal line.
        </p><footer class='code' data-theme='dark'>
          <a
            class='copy-to-clipboard'
            tabindex='-1'
            aria-label='Copy code'
            data-tooltip='Copy to clipboard'
            data-placement='left'
            href='/docs/typography'
            ><svg
              xmlns='http://www.w3.org/2000/svg'
              width='24'
              height='24'
              viewBox='0 0 24 24'
              stroke-width='2'
              stroke='currentColor'
              fill='none'
              stroke-linecap='round'
              stroke-linejoin='round'
              class='clipboard'
              ><path
                d='M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z'
              ></path><path
                d='M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2'
              ></path></svg
            ></a
          ><pre
            class='prismjs'><code class="language-html"><span class="token tag punctuation">&lt;</span><span class="token tag">p</span><span class="token tag punctuation">&gt;</span><span class="">Paragraph before the horizontal line.</span><span class="token tag punctuation">&lt;/</span><span class="token tag">p</span><span class="token tag punctuation">&gt;</span><span class="">
</span><span class="" /><span class="token tag punctuation">&lt;</span><span class="token tag">hr</span><span class="token tag"> </span><span class="token tag punctuation">/&gt;</span><span class="">
</span><span class="" /><span class="token tag punctuation">&lt;</span><span class="token tag">p</span><span class="token tag punctuation">&gt;</span><span class="">Paragraph after the horizontal line.</span><span class="token tag punctuation">&lt;/</span><span class="token tag">p</span><span class="token tag punctuation">&gt;</span></code></pre>
        </footer>
      </article>
    </section><section class='edit-on-github'>
      <p>
        <a
          rel='noopener noreferrer'
          class='secondary'
          href='https://github.com/picocss/picocss.com/blob/main/app/routes/docs.typography.jsx'
          target='_blank'
          ><small
            ><svg
              xmlns='http://www.w3.org/2000/svg'
              width='24'
              height='24'
              viewBox='0 0 24 24'
              stroke-width='2'
              stroke='currentColor'
              fill='none'
              stroke-linecap='round'
              stroke-linejoin='round'
              class='icon-edit'
              ><path
                d='M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1'
              ></path><path
                d='M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z'
              ></path><path d='M16 5l3 3'></path></svg
            >Edit this page on GitHub</small
          ></a
        >
      </p>
    </section>
  </div>
</DocsLayout>
