---
import { GithubIcon, MoonIcon } from "astro-feather";
import BaseLayout from "~/layouts/base.astro";

const ProjectName = "Snips";
---

<BaseLayout title=`Welcome to ${ProjectName}!`>
  <main
    class="h-full w-full max-w-page px-4 md:px-4 mx-auto pt-6 flex items-center justify-center"
  >
    <div class="text-center space-y-6">
      <hgroup>
        <h1 class="sm:text-6xl">Save Time Building Websites</h1>
        <p>
          Discover a vast collection of reusable code snippets designed to
          streamline your website development process.
        </p>
      </hgroup>

      <div class="flex items-center justify-center gap-4">
        <a
          class="btn btn-primary"
          href=`${import.meta.env.BASE_URL}/introduction`
        >
          Get Started
        </a>
        <a class="btn btn-outline" href="https://github.com/joeyjiron06/snips">
          <GithubIcon />Github
        </a>
      </div>
    </div>
  </main>
</BaseLayout>
