---
import Code from './code.astro';
import type { Props as CodeProps } from './code.astro';

interface Props extends CodeProps {}
---

<div
  class='rounded border border-surface-500 border-opacity-10 dark:border-surface-800'>
  <div class='px-6 py-12'>
    <slot />
  </div>

  <Code {...Astro.props} wrap rounded={false} customClasses='px-6 py-8 my-0' />
</div>
