---
import Code from './code.astro';
import type { Props as CodeProps } from './code.astro';
import type { ComponentProps } from 'astro/types';
import CopyButton from './copyButton';

interface Props extends CodeProps {}
---

<div
  class='border-surface-500 border dark:border-surface-800 border-opacity-10 rounded'>
  <div class='px-6 py-12'>
    <slot />
  </div>

  <Code {...Astro.props} wrap rounded={false} customClasses='px-6 py-8 my-0' />
</div>
