---
import BaseLayout from "./base.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <div class="mx-auto max-w-page flex main-area">
    <aside class="shrink-0">
      <nav>
        <ul>
          <li><strong>Getting Started</strong></li>
          <li>
            <a href="/docs">Introduction</a>
          </li>
          <li>
            <a href="/docs/installation">Installation</a>
          </li>
          <li>
            <a href="/docs/usage">Usage</a>
          </li>
          <li>
            <a href="/docs/theming">Theming</a>
          </li>

          <li>
            <a href="/docs/typography">Typography</a>
          </li>

          <li>
            <a href="/docs/typography">Layout</a>
          </li>
        </ul>

        <ul>
          <li><strong>Components</strong></li>

          <li><a href="/docs/components/accordion">Accordion</a></li>
          <li><a href="/docs/components/button">Button</a></li>
          <li><a href="/docs/components/checkboxes">Checkboxes</a></li>
          <li><a href="/docs/components/dropdown">Dropdown</a></li>
          <li><a href="/docs/components/input">Input</a></li>
          <li><a href="/docs/components/link">Link</a></li>
          <li><a href="/docs/components/loading">Loading</a></li>
          <li><a href="/docs/components/modal">Modal</a></li>
          <li><a href="/docs/components/nav">Nav</a></li>
          <li><a href="/docs/components/progress">Progress</a></li>
          <li><a href="/docs/components/radios">Radios</a></li>
          <li><a href="/docs/components/range">Range</a></li>
          <li><a href="/docs/components/select">Select</a></li>
          <li><a href="/docs/components/switch">Switch</a></li>
          <li><a href="/docs/components/table">Table</a></li>
          <li><a href="/docs/components/textarea">Textarea</a></li>
          <li><a href="/docs/components/tooltip">Tooltip</a></li>
        </ul>
      </nav>
    </aside>

    <main class="p-4" role="document">
      <slot />
    </main>
  </div>
</BaseLayout>

<style is:global>
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
    min-height: 100vh;
  }

  header {
    grid-column: 1/4;
    position: sticky;
    top: 0;
    left: 0;
  }

  .main-area {
    grid-column: 1/4;
  }

  footer {
    grid-column: 1/4;
  }
</style>
